<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>使用说明</h3>
        </div>
    </div>
    <div class="row">
        <p>1.请打开页面: <a href='https://open-dev.dingtalk.com/apiExplorer#/?devType=org&api=/department/list' target='_blank'>https://open-dev.dingtalk.com/apiExplorer#/?devType=org&api=/department/list</a></p>
        <p>2.填写参数后, 将PHP代码copy到本页面中</p>
        <p>3.点击运行代码, 会自动生成代码 及 对应的运行结果</p>
        <HR/>
        <p><a href='{$helpimg|cdnurl}' target='_blank'><img src='{$helpimg|cdnurl}' width='60%'/></a></p>
    </div>
</div>