<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Csmding_msgsend_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-csmding_msgsend_id" data-rule="required" data-source="csmding/msgsend/index" class="form-control selectpage" name="row[csmding_msgsend_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Msgtype')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-msgtype" data-rule="required" class="form-control selectpicker" name="row[msgtype]">
                {foreach name="msgtypeList" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Agent_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-agent_id" data-rule="required" data-source="agent/index" class="form-control selectpage" name="row[agent_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Userid_list')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-userid_list" class="form-control" name="row[userid_list]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dept_id_list')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-dept_id_list" class="form-control" name="row[dept_id_list]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('To_all_user')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-to_all_user" class="form-control" name="row[to_all_user]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Msg')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-msg" class="form-control " rows="5" name="row[msg]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Msgtaskid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-msgtaskid" class="form-control" name="row[msgtaskid]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Msgtaskerrcode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-msgtaskerrcode" class="form-control" name="row[msgtaskerrcode]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Msgtaskerrmsg')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-msgtaskerrmsg" class="form-control" name="row[msgtaskerrmsg]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Msgtaskprogress')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-msgtaskprogress" class="form-control" name="row[msgtaskprogress]" type="number" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Msgtaskstatus')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="msgtaskstatusList" item="vo"}
            <label for="row[msgtaskstatus]-{$key}"><input id="row[msgtaskstatus]-{$key}" name="row[msgtaskstatus]" type="radio" value="{$key}" {in name="key" value=""}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sendtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sendtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[sendtime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
