<style>
#ribbon {
	display: none;
}

.content {
	padding: 0px !important;
	background-color: white;
}

.csmding-apps {
	padding-top: 20px;
	text-align: center;
	padding-bottom: 5px;
}

.glyphicon {
	font-size: 24px;
}

.csmdingapps .panel-body {
	text-align: center;
}

.csmdingapps .col-xs-3 {
	height: 60px;
}

.panel {
	margin-bottom: 0px !important;
}
.csmdingsep{
	background-color:#fff;
}
.myapps{
	background-color:#eaeaea;
}

</style>
<div class="container-fluid">
	<div class="row">
		<div class="panel panel-default csmdingapps">
			<div class="panel-body" style="text-align:left">
				<button class="btn btn-default backbtn" type="button">返回</button>
				<button class="btn btn-default editbtn" type="button">编辑</button>
			</div>
			<div class="panel-body myapps">
				<div class="col-xs-3 t1">
					<span class="glyphicon glyphicon-queen" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3 t2">
					<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3 t3">
					<span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-ruble" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-queen" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-ruble" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					<h6>自定义</h6>
				</div>
			</div>

		</div>
	</div>
	<div class="row csmdingsep">	
	&nbsp;
	</div>

	<div class="row csmdingarticle">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">信息咨询</h3>
			</div>
			<div class="panel-body">
				<div class="col-xs-3 t1">
					<span class="glyphicon glyphicon-queen" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3 t2">
					<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3 t3">
					<span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-ruble" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-queen" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-ruble" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
					<h6>Star</h6>
				</div>
				<div class="col-xs-3">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					<h6>自定义</h6>
				</div>
			</div>
			</div>
		</div>
	</div>

	<div class="row"></div>

</div>