<style>
#ribbon {
	display: none;
}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>钉钉JS API接口演示</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
			<button type="button" disabed class="btn btn-default btn-lg btn-block btn-getUUID">获取用户UUID</button>
			<button type="button" disabed class="btn btn-default btn-lg btn-block btn-complexPicker">组织选择</button>
			<button type="button" disabed class="btn btn-default btn-lg btn-block btn-geolocation">获取当前地理位置信息</button>
			
			<button type="button" disabed class="btn btn-default btn-lg btn-block btn-vibrate">手机震动</button>  
			<button type="button" disabed class="btn btn-default btn-lg btn-block btn-scan">扫条形码、二维码</button>  
        </div>
        <div class="col-md-12 col-sm-12">
        	<BR>
			其他接口使用请自行阅读钉钉帮助文档<BR><a href='https://ding-doc.dingtalk.com/doc#/dev/swk0bg' target='_blank'>https://ding-doc.dingtalk.com/doc#/dev/swk0bg</a>
        </div>
    </div>
</div>