<style>
#ribbon {
	display: none;
}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>钉钉服务端接口演示</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
			<button type="button" disabed class="btn btn-default btn-lg btn-block btn-accessToken">获取AccessToken</button>
			<button type="button" disabed class="btn btn-default btn-lg btn-block btn-getAdmin">获取管理员列表</button>
			<button type="button" disabed class="btn btn-default btn-lg btn-block btn-department">获取部门信息</button>  
        </div>
        <div class="col-md-12 col-sm-12">
        	<BR>
			其他接口使用请自行阅读钉钉帮助文档<BR><a href='https://ding-doc.dingtalk.com/doc#/serverapi2/gh60vz' target='_blank'>https://ding-doc.dingtalk.com/doc#/serverapi2/gh60vz</a>
        </div>
    </div>
</div> 